<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
       <div class="alert alert-danger">
        The form <%= pluralize(resource.errors.count, "error") %>.
      </div>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
