.heading-title {
    text-align: center;
}
.navbar-brand{
	width: 20%;
}
.avatar{
	width:30px;
	height:30px;
}
.tab-content{
	background-color: #6B0F47;
}
.form-control{
	border-radius: 0;
}
.tab-content div,.nav-tabs {
	background-color: #6B0F47;
	border: none;
}
.nav-tabs{
	padding-top: 20px;
}
.nav-tabs .nav-item{
	text-align: center;
	width: 40%;
}
.tab-content label,h2 {
	color: white;
}
.modal a{
	border: none !important;
	border-radius: 0 !important;
	color: white !important;
	background-color: #686868;
}
.modal .active{
	border: none;
	background-color: #951F67 !important;
}
.custom-btn {
	border:none;
	border-radius: 0;
	background-color: #044256;
}
.menu{
	background-color: #660740;
}
.menu li{
	margin-right: 20px;
}

#emailLogin-error,#passwordLogin-error,#first_name-error,#last_name-error,#email-error,#password-error,#password-confirm-error,#phone-error{
	color:red
}

@media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
          background: #1C2331!important;
      }
  }

.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}