<tr id="catalogId<%= catalog.id %>">
  <th class="srno"></th>
  <td><%= catalog.name %></td>
  <td>
    <%= link_to "Edit", edit_manage_catalog_path(catalog), remote: true, class: "btn btn-outline-primary btn-sm" %> 
    <%= link_to "Delete", delete_manage_catalog_path(catalog), remote: true, class: "btn btn-outline-danger btn-sm"%>
  </td>
</tr>
