<%= form_for [:manage, @catalog], remote: true, html: {id: "formCatalog", class: "form-group"} do |f| %>

    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit catalog</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <ul class="errors"></ul>
          <div class="col-md-6">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", placeholder: "Name", "data-error" => "#errName" %>
            <div id="errName"></div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Edit catalog</button>
        </div>
        
      </div>
    </div>
<% end %>

<script>
  $("#formCatalog").bind("ajax:error", function(even) {
    [data, status] = event.detail
    $("#errName").html(data.name)
  });
</script>
